BasedOnStyle: Google

IndentWidth: 4

ColumnLimit: 65

AlignTrailingComments: true

SortIncludes: true

# 开启结构体/成员变量纵向对齐
AlignConsecutiveDeclarations: true

# 开启等号/赋值操作符纵向对齐
AlignConsecutiveAssignments: true

# 开启宏定义纵向对齐
AlignConsecutiveMacros: true